In [4]:
# 1 Comments 

# print(" comments")
print(" cpmments steatment can not run ")

 cpmments steatment can not run

In [8]:
# 2 Input 

# type string

university_name = input("Enter university name ")
print( university_name )

# type float , int , etc

num1 = int(input("enter num 1 : "))
num2 = int(input("enter num 2 : "))
print (" total is = ",num1 + num2)

Enter university name  pugc

pugc

enter num 1 :  12
enter num 2 :  12

 total is =  24

In [10]:
# 3 Multiple line in single line 
print("Ahmad");print("Imam");print("Amjad")

Ahmad
Imam
Amjad

In [16]:
# 4 Indentation

'''
name = input("enter name " )
if name == "ahmad":
print("my name is ahmad ")
else:
print(" wrong name enter ")
'''
name = input("enter name " )
if name == "ahmad":
    print("my name is ahmad ")
else:
    print(" wrong name enter ")

enter name  ali

 wrong name enter

In [18]:
# 5 Type checking 
a = 10
print(type(a))

<class 'int'>

In [22]:
b = 10.0
print(type(b))

<class 'float'>

In [24]:
c= "ahmad"
print(type(c))

<class 'str'>

In [26]:
list = ["Ahmad","Hassan","Hamza","Hashim","Ahsan","Huzaifa","Haroon","Maaz"]
print(list[1:5])
print(list[-1])
print(list[2:])
print(list[:5])
print(list[1:5:2])
print(list[::2])
print(list[::-1])
print(list[-1::-1])
print(list[-1:-6:-1])
print(list[-6:-1])
print(list[2:5])

['Hassan', 'Hamza', 'Hashim', 'Ahsan']
Maaz
['Hamza', 'Hashim', 'Ahsan', 'Huzaifa', 'Haroon', 'Maaz']
['Ahmad', 'Hassan', 'Hamza', 'Hashim', 'Ahsan']
['Hassan', 'Hashim']
['Ahmad', 'Hamza', 'Ahsan', 'Haroon']
['Maaz', 'Haroon', 'Huzaifa', 'Ahsan', 'Hashim', 'Hamza', 'Hassan', 'Ahmad']
['Maaz', 'Haroon', 'Huzaifa', 'Ahsan', 'Hashim', 'Hamza', 'Hassan', 'Ahmad']
['Maaz', 'Haroon', 'Huzaifa', 'Ahsan', 'Hashim']
['Hamza', 'Hashim', 'Ahsan', 'Huzaifa', 'Haroon']
['Hamza', 'Hashim', 'Ahsan']