In [28]:
# use while loop 
count = 1
while(count <= 10):
    print("2  *  ",count ," = " , 2 * count)
    count = count + 1

2  *   1  =  2
2  *   2  =  4
2  *   3  =  6
2  *   4  =  8
2  *   5  =  10
2  *   6  =  12
2  *   7  =  14
2  *   8  =  16
2  *   9  =  18
2  *   10  =  20

In [ ]:
#  Single statement while block:


count = 1
while( count == 1):print(" pakistan ")

In [9]:
# for in loop 
print(" for loop ")
print("---------------------")
cars = [ " honda "," civik "," bentaly "," corola "]
for n in cars:
    print(n)
    print("---------------------")
    print(cars)

 for loop
---------------------
 honda
[' honda ', ' civik ', ' bentaly ', ' corola ']
 civik
[' honda ', ' civik ', ' bentaly ', ' corola ']
 bentaly
[' honda ', ' civik ', ' bentaly ', ' corola ']
 corola
[' honda ', ' civik ', ' bentaly ', ' corola ']

In [13]:
# Iterating by index of sequences:

cars = [ " honda "," civik "," bentaly "," corola "]
print(type(cars))

print(cars[3])

<class 'list'>
 corola

In [1]:

# Loop Control Statements:

age = int(input(" enter age : "))
if age >= 18 and age <= 70:
    print( " you can vote ")

else: 
    print(" you can not vote at the movement ")

 enter age :  3

 you can not vote at the movement

In [8]:
# lenth of string 

name = input(" enter name : ")
print(" name is = ",name )
print(len(name))

 enter name :  ahmad

 name is =  ahmad
5

In [23]:
# Break Statement:
num = int(input(" enter age : "))
if num == 1:
    print("monday ")

elif num == 2:
    
    print(" tuesday")
   

else:
    print("weekend")
    break:

 enter age :  3

weekend

In [ ]:
# python function 
# creat a function