In [28]:
# use while loop 
count = 1
while(count <= 10):
    print("2  *  ",count ," = " , 2 * count)
    count = count + 1

2  *   1  =  2
2  *   2  =  4
2  *   3  =  6
2  *   4  =  8
2  *   5  =  10
2  *   6  =  12
2  *   7  =  14
2  *   8  =  16
2  *   9  =  18
2  *   10  =  20

In [ ]:
#  Single statement while block:


count = 1
while( count == 1):print(" pakistan ")

In [9]:
# for in loop 
print(" for loop ")
print("---------------------")
cars = [ " honda "," civik "," bentaly "," corola "]
for n in cars:
    print(n)
    print("---------------------")
    print(cars)

 for loop
---------------------
 honda
[' honda ', ' civik ', ' bentaly ', ' corola ']
 civik
[' honda ', ' civik ', ' bentaly ', ' corola ']
 bentaly
[' honda ', ' civik ', ' bentaly ', ' corola ']
 corola
[' honda ', ' civik ', ' bentaly ', ' corola ']

In [13]:
# Iterating by index of sequences:

cars = [ " honda "," civik "," bentaly "," corola "]
print(type(cars))

print(cars[3])

<class 'list'>
 corola

In [1]:

# Loop Control Statements:

age = int(input(" enter age : "))
if age >= 18 and age <= 70:
    print( " you can vote ")

else: 
    print(" you can not vote at the movement ")

 enter age :  3

 you can not vote at the movement

In [8]:
# lenth of string 

name = input(" enter name : ")
print(" name is = ",name )
print(len(name))

 enter name :  ahmad

 name is =  ahmad
5

In [23]:
# Break Statement:
num = int(input(" enter age : "))
if num == 1:
    print("monday ")

elif num == 2:
    
    print(" tuesday")
   

else:
    print("weekend")
    break:

 enter age :  3

weekend

In [4]:
#Continue Statement
list_name = "Ahmad imam"
for listLetter in list_name:
  if listLetter=='i' or listLetter=='a':
    continue

print('current letter is : ',listLetter)

current letter is :  m

In [6]:
# python function 
# creat a function 

def my_function(a):
  print(a)
  print(type(a))

my_function(1.000)

1.0
<class 'float'>

In [8]:
#Passing  list as parameter
def my_function(country):
  for i in country:
    print(i)

In [10]:
country = ["Pakistan","India","Afghanistan","UAE","USA"]
my_function(country)

Pakistan
India
Afghanistan
UAE
USA

In [12]:
#function use return value
def my_function(number):
 return 5*number

In [14]:
print(my_function(6))
my_function(7)

30

35

In [16]:
#Keyword arguments
def my_function(child3,child2,child1):
  print("the youngest brother is  :"+ child3)

In [18]:
my_function(child1='zain', child2='zeyam', child3='rehan')

the youngest brother is  :rehan

In [20]:
class Person:
  def _init_(self, name, age):
    self.name=name
    self.age=age
  def myFunction(self):
    print("my name is "+ self.name)



p1 = Person()
p1.name = "zeyam "
p1.age = 23
p1.myFunction()

my name is zeyam

In [22]:
class Pharmacist:
  def _init_(self,age,name,degree,passing_year):
    self.name="zeyam"
    self.age=23
    self.degree = "None"
    self.passing_year = 0

  def degree_type(self,degree):
    self.degree=degree
    print("degree type is "+ self.degree)


  def passing_year(self, year):
    self.passing_year = year

In [24]:
pharmacist = Pharmacist()
pharmacist.name = "Aubaker"
pharmacist.degree = "B_category"
pharmacist.passing_year = 2024
pharmacist.age = 23
print(pharmacist.name)
print(pharmacist.age)
pharmacist.degree_type("c_category")

Aubaker
23
degree type is c_category